{% extends 'index.html.twig' %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}

	<h1>Bienvenue sur Filmoteca!</h1>

	<button class="btnActions vert">Ajouter des films</button>

	<hr style="margin: 30px 0;">

	<a href="/films" class="btnActions vert">Voir tous mes films</a>

{% endblock %}